.sponsors {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
}
  
.sponsors__logo {
    height: 46px;
}
.sponsors__logo img {
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: 0.2s ease-in-out;
}

.sponsors__logo img:hover {
    opacity: 1;
}

@media only screen and (max-width: 650px) {
.sponsors__logo {
    height: 35px;
}
.sponsors {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
    row-gap: 3.5rem;
}
}