.testimonial_heading .headings h2 {
    max-width: 480px;
}

.testimonial_heading .headings p {
    max-width: 420px;
}

.testimonial_main-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 2.5rem;
    width: 100%;
    gap: 2.5rem;
}

.testimonial_left-side {
    flex-basis: 44%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.125rem;
    flex-direction: column;
}

@media only screen and (max-width: 1150px) {
    .testimonial_left-side {
        flex-basis: 50%;
    }
    
    .testimonial_right-side {
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .testimonial_main-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .testimonial_left-side {
        flex-basis: 100%;
    }
    
    .testimonial_right-side {
        flex-basis: 100%;
    }

    .testimonial_left-side {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

@media only screen and (max-width: 420px) {
    .testimonial_left-side {
        gap: .725rem;
    }
}