nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-inline: 1.25rem;
    font-size: .8rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    opacity: .85;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover {
    opacity: 1;
}

.nav_right-side {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.nav_right-mobile {
    display: none;
}

.nav_right-side__button {
    border: none;
    outline: none;
    background: none;
}

.nav_right-side__button a {
    text-decoration: none;
    font-size: .8rem;
    font-weight: 400;
    color: black;
    transition: 0.2s ease-in-out;
    padding: .5rem 1.725rem;
    border-top-left-radius: 18px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    outline: none;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.nav_right-side__button a:hover {
    color: var(--primary-color);
    background: transparent;
}

.hero_heading {
    margin-top: 7.5rem;
}

.hero_heading p {
    max-width: 510px;
    width: 100%;
    margin-top: 1.125rem;
}

.socials_wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.socials_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero__bottom-row {
    margin-top: 3.75rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.client_avatars {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 15px;
}

.hero_users p{
    margin-top: -0.5rem;
}


/* MOBILE */

.mobile_navigation {
    background: yellow;
}



/* RESPONSIVITY */

@media only screen and (max-width: 970px) {
    .nav_right-side__button{
        display: none;
    }
    h1{
        font-size: 3.6rem !important;
    }
    #header .CTA_wrapper {
        flex-direction: column;
        gap: 1rem !important;
    }
    #header .CTA_right-side, #header .CTA_right-side a {
        width: 100%;
    }
    .hero_heading p {
        max-width: 300px;
    }
}

@media only screen and (max-width: 650px) {
    .nav_right-mobile {
        display: block;
    }
    .nav_right-side {
        display: none;
    }
    .container {
        position: relative;
    }
    .mobile_navigation {
        position: absolute;
        width: 100%;
        left: 0;
        top: -32px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    .mobile_navigation ul li{
        display: block;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    .nav_icon {
        position: relative;
        z-index: 3;
        cursor: pointer;
    }
}

@media only screen and (max-width: 460px){
    .hero__bottom-row{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .hero__bottom-row_right{
        margin-top: 2rem;
    }
    .hero_heading {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 460px){
    #header .CTA_left-side, #header .CTA_right-side {
        height: 43px;
    }
    #header .CTA_left-side p {
        padding-inline: 1.25rem;
    }
    #header .CTA_left-side a {
        padding-inline: 2.5rem;
    }
}