.avatar_icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: -15px;
}

.avatar_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar_icon :first-child {
    margin-left: 0 !important;
}