.top-right__icon {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 30px;
}

@media only screen and (max-width: 460px) {
    .top-right__icon {
        height: 42px;
        width: 42px;
        border-bottom-left-radius: 20px;
    }
}