.testimonial_user-tab {
    padding: 1.125rem 1.5rem;
    background: var(--tab-gradient);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.125s ease-in-out;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.23);
    width: 100%;
}

.testimonial_user-tab:hover {
    transform: translate(15px);
    box-shadow: 0px 4px 18px rgba(10, 10, 10, 0.23);
}

.testimonial_wrap {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: .725rem;
}

.testimonial_user-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.testimonial_user-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.testimonial_user-info h5 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.testimonial_user-info p {
    font-size: .725rem;
    margin-top: -0.125rem;
}

.active {
    border-left: 3px solid var(--primary-color);
}

@media only screen and (max-width: 750px) {
    .testimonial_user-info {
        display: none;
    }
    .active {
        border-left: 0;
        border-bottom: 2px solid var(--primary-color);
    }
    .testimonial_user-tab:hover {
        transform: translate(0px, -8px);
    }
}

@media only screen and (max-width: 620px) {
    .testimonial_user-avatar {
        height: 48px;
        width: 48px;
    }
    .testimonial_user-tab {
        padding: 0.75rem 1rem;
    }
}